html {
    /* Apply an image to the entire background */
    background: url(../images/giraffe3.jpg) no-repeat bottom right fixed;
    background-size: cover;
    
    /* Add vendor specific prefixes for wider support */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#logo {
    position: absolute;
    width: 45%;
    bottom: 20px;
    left: 40px;
}

