a {
    text-decoration: none;
    color: white;
    
}

#home-logo,
#home-logo-dark
{
    height: 57px;
    margin-left: 10pz;
    position: absolute;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#home-logo-dark {
    visibility: hidden;   
}

.custom-wrapper {
    height: 75px;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;    
}

.custom-wrapper.open {
    height: 32em;   
}


.pure-menu-heading {
    height: 60px;
    width: 70px;
}

.pure-menu-item {
    height: 60px;    
    }

.pure-menu-link {
    padding-top: 20px; 
    height: 50px;
    color:white;
    font-family: poiret-one, sans-serif;
    font-size: 1.5em;
    padding-left: 22px;
    padding-right: 22px;
}

.pure-menu-link:hover {
    background: none;
    text-shadow: 1px 2px rgba(10,10,10,.5)
}

.pure-menu-link:active {
    position:relative;
    top:1px;
    background: none;   
}

.pure-menu-link:focus {
    background: none;   
}

.custom-toggle {
    position: absolute;
    display: block; /* show this only on small screens */
    top: 0;
    right: 0; /* "#menu width" */
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
    visibility: hidden;
    top: 10px;
}

    
    .custom-toggle span {
        position: relative;
        display: block;
    }

    .custom-toggle span,
    .custom-toggle:before,
    .custom-toggle:after {
        background-color: white;
        width: 20px;
        height: 2px;
    }

        .custom-toggle:before,
        .custom-toggle:after {
            position: absolute;
            margin-top: -7px;
            content: " ";
        }

        .custom-toggle:after {
            margin-top: 5px;
        }

@media only screen and (max-width : 1080px){
    .pure-menu-link {
        font-size: 2.3vw;
        padding-left: 15px;
        padding-right: 15px;
    }
    
}


@media (max-width: 768px) {

    .custom-toggle {
        display: block;
        visibility: visible;
  
    }
    .custom-wrapper {
        overflow: hidden;
        background-color:rgba(0, 0, 0, .4);
    }
    
    .pure-menu-link {
       /* color: rgba(47, 79, 79, 1); */
        font-size: 1.5em;
    }
    
    
    /*#home-logo {
        visibility: hidden;   
    }
    
    #home-logo-dark {
        visibility: visible;   
    }*/
}





@-ms-viewport{
  width: device-width;
}


