html {    
    /* Add vendor specific prefixes for wider support */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#logo {
    position: relative;
    margin-top: 15%;
    width: 100%;
    padding-bottom: 15px;
    
}

#home-logo img
{
    margin-left: 8px;
    padding: 0;
    height: 10%;
    position: fixed;
    margin-top: 8px;
    
}

.pure-menu {
    margin-top: 10px;
    min-width: 1000px;
    height: 40px;
    font-family: poiret-one, sans-serif;
    color: white;
    
}

.pure-menu-item
{
    font-size: 1.8em;
    color: white;
    width: 200px;
}

.pure-menu-list
{
    text-align: left;
    color: white;
    position: relative;
    margin-left: 80px; 
    width: 90%;
    
}

.pure-menu-link
{
    color: white;
    text-align: left;
}

.pure-menu-item a:hover
{
    text-shadow: 2px 2px rgba(102, 51, 0, 0.5);
    background-color: none;
    background: none;
    
}

.pure-menu-item a:active
{
    position:relative;
    top:1px;
    color: white;
}

.pure-menu-children
{
    font-size: .4em; 
    background: none;
}

.pure-menu-children a:hover
{ 
    background-color: none;
}

a {
    text-decoration: none;
    color: white;
    
}

 
     
}

@-ms-viewport{
  width: device-width;
}


