html {
    /* Apply an image to the entire background */
    background: url(../images/dip.jpg) no-repeat bottom right fixed;
    background-size: cover;
    
    /* Add vendor specific prefixes for wider support */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#logo {
    position: absolute;
    width: 35%;
    bottom: 2px;
    left: 20px;
}

#right-bar {
    width: 100%;
    float: right;
}

nav {
    
    /*height: 10%;*/
    font-family: poiret-one, sans-serif;
    color: #111111;
    font-size: 1.5em;
    margin-left: 2%;
}

nav ul {
    margin: 0;
    padding: 0;
    float: right;
    width: 25%;
    padding-top: 10px;
    padding-right: 2%;
}

nav ul li {
    display: block;
    text-align: right;
    padding-bottom: 15px;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    outline: 0;
}

nav ul li a:hover {
    text-shadow: 1px 1px rgba(0, 0, 0, .25);
}

nav ul li a:active {
    position:relative;
    top:1px;
}

nav ul li a:focus {
    outline:0;
}