html {
    /* Apply an image to the entire background */
    background: url(../images/dip.jpg) no-repeat bottom center fixed;
    background-size: cover;
    
    /* Add vendor specific prefixes for wider support */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#logo {
    position: absolute;
    width: 35%;
    bottom: 40px;
    left: 32.5%;
    
}

#home-logo img
{
    margin-left: 20%;
    padding: 0;
    height: 10%;
}

#nav {
    margin-top: 1%;
}

#nav-links
{
    margin-top: 1%;
    text-align: center;
    font-size: 2.2em;
}

#nav-links a
{
    font-family: poiret-one, sans-serif;
}

#nav-links a:hover
{
    text-shadow: 2px 2px rgba(102, 51, 0, 0.5);
}

#nav-links a:active
{
    position:relative;
    top:1px;
}

#rsvp-container{
    margin-top: 60px;

}

#rsvp-button
{
    font-family: poiret-one, sans-serif;
    font-size: .9em;
    margin-top: 10%;
    text-align: center;

}

@media only screen and (max-width : 700px){
    #rsvp-button {
        font-size: .7em;
    }

}
    
.rsvp-header
{
    font-size: 3em;
    outline: 2px solid white;
    background-color: rgba(250, 250, 250, .3);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.rsvp-large
{
    font-family: poiret-one, sans-serif;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    
}

.rsvp-small
{
    font-family: poiret-one, sans-serif;
    font-size: 1em;
    width:80%; 
    margin-left: auto;
    margin-right: auto;
}

a {
 
    text-decoration: none;
    color: white;
    
}


