html {
    /* Apply an image to the entire background */
    background-color: gray;
    background: url(../../images/wedding/orangeGrove.jpg) no-repeat left center fixed;
    background-size: cover;
    
    /* Add vendor specific prefixes for wider support */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

