html {
    /* Apply an image to the entire background */
    background: url(../../images/wedding/Sunrise.jpg) no-repeat right  bottom fixed;
    background-size: cover;
    
    /* Add vendor specific prefixes for wider support */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

